@import '../../styles/mixin.scss';
.Burger {
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@include mobile {
    .Burger {
        width: 350px;
        height: 300px;
    }
}

@include tablet {
    .Burger {
        width: 450px;
        height: 400px;
    }
}

@include desktop {
    .Burger {
        width: 700px;
        height: 600px;
    }
}
